
  <style>
    .tableVIew{
      width: 70%;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
  </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;"><b><i>Welcome Admin</i></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home" style="color: white;"><b><i>Home</i></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addProduct" style="color: white;"><b><i>District Admins</i></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sellers" style="color: white;"><b><i>View Admins</i></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Blocke_sellers" style="color: white;"><b><i>Blocked users</i></b></a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/userlist" style="color: white;"><b><i>users</i></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alerts" style="color: white;"><b><i>Alerts</i></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://gmap.cs.arizona.edu/" target="_blank" style="color: white;"><b><i>Escape Root</i></b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/" target="_blank" style="color: white;"><b><i>Prediction</i></b></a>
        </li>
            <li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Roots
                </button>
            </li>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/logout" style="color: white;"><b><i>Logout</i></b></a>
        </li>
 
          
        
        <li class="nav-item dropdown">
          {{!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a> --}}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Blocke_sellers">Blocked Seller</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container tableVIew" style="margin-top: 50px;">
 
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
       {{!-- <th scope="col">Pid</th> --}}
      <th scope="col">District</th>
      <th scope="col">Passcode</th>
      <th scope="col">photo</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr>
      <th scope="row">{{this.Product_name}}</th>
      {{!-- <td>{{this.Product_id}}</td> --}}
      <td>{{this.Description}}</td>
      <td>{{this.Price}}</td>
      <td> <img style="height: 50px; width:50px" src="/images/product/{{this.Image}}" alt=""> </td>
    {{!-- <td><a href="#">{{this.sellerID}}</a></td> --}}
    <td><a class="btn btn-outline-danger" href="/delete/{{this.id}}">Delete</a></td>
    </tr>
   {{/each}}
   
  </tbody>
</table>
    <h1 style="text-align: center;"><b>Skills</b></h1>
  <br><br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Skill</th>
      <th scope="col">id</th>
    </tr>
  </thead>
  <tbody>
    {{#each row}}
    <tr>
      <th scope="row">{{this.email}}</th>
      <td>{{this.name}}</td>
      <td>{{this.skills}}</td>
      <td>{{this.id}}</td>
    </tr>
   {{/each}}
   
  </tbody>
</table>
 <div class="row">
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form action="/roots" method="post" enctype="multipart/form-data">
                  <input type="text" placeholder="Enter area" name="place" id="">
                  <input type="file" name="image" id="">
                  <input type="submit">
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>